a {
  color: #000000;
}

a:hover {
  color: #000000;
}

.modal-footer-a {
  color: #08c;
}

.entry-container {
  height: 440px;
  width: 440px;
  background-color: rgb(218,218,218);
  text-align: center;
  padding: 10px;
  position: relative;
  border-radius: 6px;
}

.entry-container:hover{
  background-color: rgb(190, 190, 190);
}


.outer-entry-container {
  text-align: center;
  position: relative;
  margin-left: .5%;
  margin-right: .5%;
  margin-bottom: 1%;
  display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

.grid-container {
  text-align: center;
}

.tile-link {
  font-size: 12;
}


.tile-link:hover {
  text-decoration: none;
}

.modal-footer {
  text-align: left;
}

.modal-body {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-title {
  position: fixed;
  left: 20px;
  color: #ffffff;
}

.navbar-inverse .brand{
  color: #ffffff;
  font-family: 'futura';
}

.pagination-container {
  padding-left: 100px;
  padding-right: 100px;
}

.show-meta {
  text-align: left;
}

.page-info{
  text-align: center;
  white-space: nowrap;
  padding-bottom: 20px;
}
