<h6>{{entry.title}}</h6>
<video id="video-{{i}}" class="video-js vjs-default-skin"
  controls preload="auto" width="{{thumbnail.width}}" height="{{thumbnail.height}}"
  poster="{{thumbnail.url}}"
  data-setup='{}'>
 <source src="{{videoContent.url}}" type='video/mp4' />
</video>